{% extends "main/_layout.html" %}
{% block additional_css %}
<link rel="stylesheet" href="/static/css/about.css"/>
{% endblock %}
{% block title %} About {% endblock %}

{% block content %}

     <div class="purpose">
        <h1>  1. Purpose </h1>
        <p>
            This Section of the application is intended to provided an overview for a Bottoms Up Web app on the concept
            of Workforce management framework focus in a functional model, operational and culture based. From a Discovery phase
            to a mature management system state, touching components for leading and collaborating with different
            part and business units of share services in an enterprise environment. The section provides an understanding
            of workforce management and the pre work, culture
        </p>
    </div>

    <div>
        <div class="form-container">


        <form action="" method="POST" class="account-form">
            <h1>1.1 Description</h1>

            <small>Enterprise performances and services among business units depend not only
                in process and tools but on our workforce who leverage our knowledge capital, having a
                visibility support and proper management in our enterprise services creates a competitive advantage for
                our services to balance, forecast and harmonized staffing levels improving our services for customer and
                employee experiences. Workforce management includes more than a simple understanding of up coming workloads
                the web app offers a platform to deeply understand tasks, knowledge, process understanding, efforts,
                communications and more importantly people. We also consider that each business unit/services/squad has
                a different level of maturity level on business intelligent and workforces analytics as the enterprise evolves
                workforce management hopes to provide a framework and approach to
                focus workforce management at any business unit maturity stage.</small>

        </form>
      </div>

        <div class="form-container">


        <form action="" method="POST" class="account-form">
            <h1>1.2 Goal</h1>

            <small>  The goal for workforce management is to establish a common culture, a management system
                set by key performance indicators harmonizing to the business day to day goals and
                objectives using best practices from Agile, Scrum, Project Management and continual improvement.
                The multiprogram should elaborate on Discovery Phase to vision the scope for any given
                business unit project. And followed by an iteration cero to initiate formalized and set
                up a diverse multifunctional team that will iterate in order to create a logic minimal
                viable product and elaborate to business goal for the business unit workforce management
                formal project The enterprise will be split in each business unit and among services creating a
                dashboard and support From a peer to peer bases generating synergy, bench marking and
                collaboration among areas and business units, creating a community and culture for
                workforce management among the business areas </small>

        </form>
      </div>









    <div class="purpose">
        <div class="hero-inner">
           <h1>  2. Program </h1>
            <p>
                The value of the program rest in the services, mentorship, networking and recognition the business areas
                can gain by enrolling into workforce management. The focus is based into the capacity open and the value
                the business unit can generate as return for the investment. Aside of looking for logical space for a
                cross functional to elaborate on a program deliverable we will focus our efforts to create a co working
                culture on every opportunity not only in a local business unit level but also globally using the best at
                hand methodologies and technologies. The process for which the program will be encourage will be based on
                the following phases or concepts:
            </p>
             1. Awareness
            <p></p>
             2. Engagement
            <p></p>
             3. Program Development
            <p></p>
             4. Demo Program Closure
            <p></p>
             5. Retrospective and Re Engagement


        </div>
    </div>

        <div class="activities-list">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-11">
                    <div class="subtitle">
                        2.1 Phases and Ramifications
                        <hr>
                    </div>
                    <table class="phases">
                        <thead>
                            <th>Phase</th>
                            <th>Description & Goal</th>
                            <th>Components</th>
                        </thead>

                        <tbody class = "row1">

                            <td>1. Awareness</td>
                            <td>The Awareness stage provides a framework to communicate about the workforce management effort.
                                Creates different communication channels to identify big stakeholders, population and key
                                players</td>
                            <td><p>1. Initial Communications and communication planning</p>
                                <p>2. Empowerment</p>
                                <p>3. Acknowledgement</p>
                            </td>

                        </tbody>
                        <tbody class = "row2">
                            <td>2. Engagement</td>
                            <td>This stage provides the tools and structures for the business units to apply and enroll to
                                the program, adopt methodologies and frameworks while identifying a core multifunctional
                                team for the program success </td>
                            <td><p>4. Identification</p>
                                <p>5. Design Thinking</p>
                                <p>6. Agile and Scrum as framework</p></td>
                        </tbody>
                        <tbody class = "row3">
                            <td>3. Program Development</td>
                            <td>The Core stage for transformation this stage allows our business units to develop in
                                different phases their transformation strategy and adoption of the workforce management
                                tools, applications and management systems </td>
                            <td><p>7. Discovery</b>
                                <p>8. Iteration 0</p>
                                <p>9. MVP</p>
                                <p>10. Hills</p>
                            </td>
                        </tbody>
                        <tbody class = "row4">
                            <td>4. Demo Program Closure </td>
                            <td>The demo stage allows the business unit to set a finite goal and logical closure for the
                                program giving place for the business unit to celebrate, communicate and harmonized the
                                services and solutions to the day to day operations </td>
                            <td><p>11. Demo</p>
                                <p>12. Closure</p>
                                <p>13. Bench Marking</p>
                                <p>14. Business as Usual Transition</p>
                            </td>
                        </tbody>
                        <tbody class = "row5">
                            <td>5. Retrospective and re Engagement </td>
                            <td>The stage allows the business unit to identify key areas of accomplishments, opportunities,
                                close up questions, identify any new idea while opting of a second or third iteration of
                                the program.  </td>
                            <td><p>15. Maturity Assessment</p>
                                <p>16. Retrospective</p>
                                <p>17. Re Engagement</p>
                            </td>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
{% endblock content %}
